#left_form_part {
float: left;
padding: 10px;
margin: 0px 0px 0px 10px;
width:415px;
}
#text_area {
float: right;
width: 800px;
}
#form_info_part {
overflow: hidden;
}
.field {
float: left;
width: 250px;
height: 70px;
margin: 0px 5px;
}
#input_fields {
overflow: hidden;
}
