.video_preveiw{
	margin: 38px 3px 2px 115px;
	position: absolute;
	text-align: center;
	width: 50%;
}
#videopreview{
	min-height: 412px !important;
	min-width: 750px !important;
} 
img#videobg{
	margin-left: 6%;
	width: 90%;
}