#page_content{
    margin: auto;
}
#home_page_title{
    background-color: #0088cc;
    width: 100%;
}
#home_page_title_content{
    margin: auto;
    width: 900px;
    overflow: hidden;
}
#home_page_main{
    overflow: hidden;
    margin: auto;
    width: 900px;
}
#home_page_main p{
    margin: 10px;
    
}
#home_page_footer{
    position: absolute;
}
#site_logo{
    float: left;
}
#member_field{
    float: right;
}
#program_info{
    padding: 10px;
    float: left;
}
#program_steps{
    color: black;
    float: right;
    margin-top: 50px;
    font-size: 1.5em;
    padding: 5px;
}
#program_steps p{
    margin: 0px 0px 10px 0px;
    text-align: center;
    padding: 5px;
}
#program_steps h3{
    margin: 2px 0px 10px 10px;
}
#home_page_main .steps{
    margin: 10px 0px 10px 0px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    text-align: left;
}
.steps {
border: 1px solid black;
overflow: hidden;
padding: 0px 0px 5px 0px;
margin: 10px 0px;
border-radius: 20px;
text-align: center;
}
.steps p{
    background-color: #e17009;
}
.curentstep{
    border-color: red !important;
    border-width: 2px !important;
}
#add_program{
    padding: 10px;
    margin: 10px 0px 10px 115px;
}
#add_program input{
    height: 50px;
    width:400px;
    border:none;
    padding-left: 10px;
    margin: 5px 0px 5px 0;
    border-radius: 9px;
}
#add_program a{
    height: 35px;
    width:385px;
    border:none;
    padding-left: 15px;
    margin: 5px 0px 5px 0;
    border-radius: 9px;
}
nav.maniNav{
    margin-bottom: 10px !important;
}
#join_program{
    display:block;
    padding: 15px 0px 0px 15px;
    color: #000;
    width: 385px;
    height: 35px;
    font-size: 0.8em;
    text-decoration: none;
}
.formArea p{
    height: 44px;
    width: 409px;
    margin: 0px auto 0 auto;
    text-align: center;
    color: #3baae3;
    font-size: 1.8em;
    padding-top: 20px;
}

