#page_content{
    margin: auto;
}
#home_page_title{
    background-color: #0088cc;
    width: 100%;
}
#home_page_title_content{
    margin: auto;
    width: 900px;
    overflow: hidden;
}
#home_page_main{
    overflow: hidden;
    margin: auto;
    width: 900px;
}
#home_page_main p{
    margin: 10px;
    
}
#home_page_footer{
    position: absolute;
}
#site_logo{
    float: left;
}
#member_field{
    float: right;
}
#program_info{
    padding: 10px;
    float: left;
}
#program_desc{
    float: right;
    margin-top: 50px;
    font-size: 1.5em;
    padding: 5px;
}
#program_desc p{
    text-align: center;
}
#program_desc h3{
    margin: 2px 0px 2px 10px;
}
#home_page_main .steps{
    margin: 10px 0px 10px 0px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 5px;
    text-align: left;
}
.curentstep{
    border-color: red !important;
    border-width: 2px !important;
}
#add_program{
    padding: 10px;
}
#add_program input{
    width: 90%;
    font-size: 1.2em;
}
