@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
body{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	color:#fff;
	background:#c7e1f2;
}
p, h1, h2, h3, h4, h5, h6, form, input{
	margin:0px;
	padding:0px;
}
ul, li{
	margin:0px; 
	padding:0px;
}
img{
	border:0px;
}
a{
	text-decoration:none;
	outline:none;
	color:#fff;
}
a:hover{
	text-decoration:underline;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
header, section, article, footer{
	display:block;
}
address{
	display:block;
	font-style:normal;
}
/*Paddings*/
.pT5{
	padding-top:5px;
}
.pB5{
	padding-bottom:5px;
}
.pL5{
	padding-left:5px;
}
.pR5{
	padding-right:5px;
}
.pT10{
	padding-top:10px;
}
.pB10{
	padding-bottom:10px;
}
.pL10{
	padding-left:10px;
}
.pR10{
	padding-right:10px;
}
.pT12{
	padding-top:12px;
}
.pB12{
	padding-bottom:12px;
}
.pL12{
	padding-left:12px;
}
.pR12{
	padding-right:12px;
}
.pT15{
	padding-top:15px;
}
.pB15{
	padding-bottom:15px;
}
.pL15{
	padding-left:15px;
}
.pR15{
	padding-right:15px;
}
.pT20{
	padding-top:20px;
}
.pB20{
	padding-bottom:20px;
}
.pL20{
	padding-left:20px;
}
.pR20{
	padding-right:20px;
}
.pT25{
	padding-top:25px;
}
.pB25{
	padding-bottom:25px;
}
.pL25{
	padding-left:25px;
}
.pR25{
	padding-right:25px;
}
.pT30{
	padding-top:30px;
}
.pB30{
	padding-bottom:30px;
}
.pL30{
	padding-left:30px;
}
.pL40{
	padding-left:40px;
}
.pR30{
	padding-right:30px;
}
.pT50{
	padding-top:50px;
}
.pT45{
	padding-top:45px;
}
.pB50{
	padding-bottom:50px;
}
.pT8{
	padding-top:8px;
}
/*Margin*/
.mL10{
	margin-left:10px;
}
.mL12{
	margin-left:12px;
}
.mR10{
	margin-right:10px;
}
.mT10{
	margin-top:10px;
}
.mB10{
	margin-bottom:10px;
}
.mL15{
	margin-left:15px;
}
.mR15{
	margin-right:15px;
}
.mT15{
	margin-top:15px;
}
.mB15{
	margin-bottom:15px;
}
.mL20{
	margin-left:20px;
}
.mR20{
	margin-right:20px;
}
.mT20{
	margin-top:20px;
}
.mB20{
	margin-bottom:20px;
}
.mL25{
	margin-left:25px;
}
.mR25{
	margin-right:25px;
}
.mT25{
	margin-top:25px;
}
.mB25{
	margin-bottom:25px;
}
.mL30{
	margin-left:30px;
}
.mR30{
	margin-right:30px;
}
.mT30{
	margin-top:30px !important;
}
.mT110{
	margin-top:110px !important;
}
.mB30{
	margin-bottom:30px;
}
/*Fonts*/
.font11{
	font-size:11px;
}
.font12{
	font-size:12px;
}
.font14{
	font-size:14px;
}
.font16{
	font-size:16px;
}
.font18{
	font-size:18px;
}
.txtright{
	text-align:right;
}
.txtleft{
	text-align:left;
}
.txtcenter{
	text-align:center;
}
.fontbld{
	font-weight:bold;
}
.fontnormal{
	font-weight:normal;
}

/*Width*/
.wdthpercent100{
	width:100%;
}
.wdthpercent85{
	width:85%;
}
.wdthpercent80{
	width:80%;
}
.wdthpercent75{
	width:75%;
}
.wdthpercent70{
	width:70%;
}
.wdthpercent60{
	width:60%;
}
.wdthpercent50{
	width:50%;
}
.wdthpercent48{
	width:48%;
}
.wdthpercent55{
	width:55%;
}
.wdthpercent40{
	width:40%;
}
.wdthpercent35{
	width:35%;
}
.wdthpercent30{
	width:30%;
}
.wdthpercent20{
	width:20%;
}
.wdthpercent25{
	width:25%;
}
.wdthpercent15{
	width:15%;
}

/*General CSS*/
#wrapper{
	width:100%;
	height:auto;
	overflow:hidden;
	margin:auto;
}
.wrapperOuter{
	width:960px;
	height:auto;
	overflow:hidden;
	margin:auto;
}
.wrapperMain{
	width:860px;
	height:auto;
	overflow:hidden;
	margin:auto;
	padding:0px 50px;
}
.siteHeaderBg{	
	padding:8px 0px 0px;
	background:url(../images/headerBg.png) repeat-x left top;
}
.siteHeader{
	width:100%;
	height:auto;
	overflow:hidden;
	margin-bottom:22px;
}
.logo{
	width:171px;
	height:61px;
	margin:auto;
	padding:0px;
	float:left;
}
.logo h3 a{
	width:171px;
	height:61px;
	display:block;
	background:url(../images/logo.png) no-repeat left top;
	text-indent:-999em;
}
.siteHeaderRight{
	float:right;
	padding:28px 20px 0px 0px;
	height:auto;
	overflow:hidden;
}
.sponsor{
	padding-right:60px;
	color:#fff;
	float:left;
}
.sponsor a{
	text-decoration:underline;
}
nav.headertop {
    float: right;
    font: 12px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    text-align: right;
}
nav.headertop ul li {
    display: inline;
    line-height: normal;
    margin: 0;
    padding: 0;
}
nav.headertop ul li a {
    border-right: 1px solid #fff;
    color: #fff;
    margin: 0;
    padding: 0 7px;
    text-decoration: none;
}
nav.headertop ul li a:hover, nav.headertop ul li a.active {
    text-decoration:underline;
}
nav.headertop ul li a.last {
    border-right: medium none;
}
#container{
	width:100%;
	height:auto;
	overflow:hidden;
	background:url(../images/containerBg.png) no-repeat center bottom;
	margin:auto;
	padding-bottom:15px;
}
nav.maniNav{
	background:url(../images/navBg.png) repeat-x left top;
	padding:4px 10px 7px 10px;
	font: 16px Arial,Helvetica,sans-serif;
    margin-bottom: 105px;
	height:auto;
	overflow:hidden;
}
nav.maniNav ul li {
    display: block;;
    line-height: normal;
    margin: 0;
    padding: 0;
	float:left;
}
nav.maniNav ul li a {
    border-right: 1px solid #25292e;
    color: #fff;
    margin: 0;
    padding: 3px 15px;
    text-decoration: none;
	display:block;
	font-weight:bold;
}
nav.maniNav ul li a:hover, nav.maniNav ul li a.active {
    text-decoration:underline;
}
nav.maniNav ul li a.last {
    border-right: medium none;
}
.promoteArea{
	text-align:center;
	margin:auto;
	height:auto;
	overflow:hidden;
	font-size:16px;
	color:#366183;
}
.promotebtn{
	display:block;
	padding:10px 38px 14px 38px;
	background:#698c9b;
	box-shadow:0px -4px 4px #000 inset;
	margin:auto;
	border:none;
	color:#fff;
	font-weight:bold;
	 cursor: pointer;
	 font-size:22px;
	 border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.homeRight{padding-top:15px;}
.memberLogin{
	display:block;
	padding:4px 5px;
	background:url(../images/inputBg.png) repeat-x left top;
	border:1px solid #fff;
	color:#48697e;
	font-weight:bold;
	cursor: pointer;
	font-size:12px;
	border-radius:3px;
	 -moz-border-radius:3px;
	 -webkit-border-radius:3px;
	 width:170px;
	 margin-right:10px;
	 float:left;
}
.loginbtn{
	padding:0px 15px 4px 15px;
	background:#698c9b;
	box-shadow:0px -2px 2px #3a4e56 inset;
	margin-top:5px;
	border:none;
	color:#fff;
	font-weight:bold;
	 cursor: pointer;
	 font-size:12px;
	 border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.getWebsitebtn{
	display:block;
	background:url(../images/getWebsite.png) no-repeat left top;
	margin:auto;
	border:none;
	color:#fff;
	 font-size:22px;
	 text-indent: -999em;
	 width:670px;
	 height:97px;
}
.footer{
	padding-top:100px;
	margin:auto;
}
.footerLink{
    font: 14px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footerLink ul li {
    display: inline;
    line-height: normal;
    margin: 0;
    padding: 0;
}
.footerLink ul li a {
    border-right: 1px solid #48697e;
    color: #48697e;
    margin: 0;
    padding: 0 7px;
    text-decoration: none;
	font-weight:bold;
}
.footerLink ul li a.last {
    border-right: medium none;
}
.profitsContainer{width:900px;height:auto;overflow:hidden;}
.profitsLeft{width:650px;float:left;}
.profitsRight{width:250px;float:left;}
.profitsLeft .formArea{
	padding-left:130px;
	height:auto;
	overflow:hidden;
	width:410px;
}
.profitsLeft .formArea input[type="text"]{
	border:2px solid #48697e;
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#ffff;
	color:#48697e;
	margin-top:5px;
	font-size:14px;
}
.smallinput{width:172px;
float:left;margin-right:7px;}

.biginput{
	width:350px;
}
.claimbtn{
	background:url(../images/btnBg.png) repeat-x left top;
	padding:8px 0px;
	box-shadow:0px 0px 7px #696948;
	text-align:center;
	margin:7px;
	border:none
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:#78a0b1;
	font-weight:bold;
	font-size:19px;
	border:none;
	text-transform: uppercase;
	width:97%;
}
.profitsRight .list{
	background:url(../images/free.png) no-repeat left top;
	padding:50px 23px 70px 30px;
	width:212px;
	height:150px;
	margin:35px 0px 35px 10px;
}
.profitsRight .list  ul li {
    line-height: normal;
    margin-top: 15px;
    padding: 0px 0px 0px 12px;
	background:url(../images/freeLi.png) no-repeat left top;
	color: #78a0b1;
	font-weight:18px;
	list-style:none;
	font-weight:bold;
}
.sponsorid{color:#000;font-size:11px;font-weight:bold;text-align:center;margin:auto;}
.sponsorid input[type="text"]{
	background:none;
	border-bottom:1px dashed #000;
	color:#000;
	border-top:none;
	border-left:none;
	border-right:none;
	width:98px;
	margin-left:8px;
}
.program{
	background:url(../images/programBg.png) no-repeat left top;
	padding:20px 20px 20px 50px;
	width:347px;
	text-align:center;
	color:#78a0b1;
	font-size:18px;
	line-height:normal;
	margin:auto;
}
.affiliateLink{
	background:url(../images/affiliateLink.png) no-repeat left top;
	padding:15px 20px;
	width:360px;
	height:20px;
	color:#48697e;
	font-weight:bold;
	font-size:13px;
	margin:auto;
}
.affiliateLink a{
	color:#48697e;
	font-weight:bold;
	font-size:13px;
}
.affiliateLink input[type="text"]{
	border:none;
	background:none;
	width:100%;
}
input[type="submit"] {
cursor:pointer;
}

input[type="email"],input[type="password"]{
	border:2px solid #48697e;
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#ffff;
	color:#48697e;
	margin-top:5px;
	font-size:14px;
}
.input{
	border:2px solid #48697e;
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#ffff;
	color:#48697e;
	margin-top:5px;
	font-size:14px;
}
.step{
	width:244px;
	height:auto;
	overflow:hidden;
	margin-bottom:5px;
}
.step h3{
	background:url(../images/stepTop.png) no-repeat left top;
	padding:7px 10px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:normal;
}
.step span{
	background:url(../images/stepbottom.png) no-repeat left bottom;
	padding:10px 15px 30px 15px;
	color:#78a0b1;
	font-size:18px;
	width:214px;
	min-height:40px;
	text-align:center;
	display:block;
}
.webright{width:630px;float:left;margin-left:-20px;}
.webleft{width:245px;float:left;margin-top:15px;}
.leftnav {
    font: 12px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
.leftnav ul li {
    display: block;
    line-height: normal;
    margin-bottom: 8px;
    padding: 0;
}
.leftnav ul li a {
	background:#698c9b;
	box-shadow:0px -4px 4px #3e545c inset;
    color: #fff;
    margin: 0;
    padding: 8px 20px 8px 50px;
    text-decoration: none;
	display: block;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	text-transform:upper;
}
.eapbtn{
	padding:10px 38px 14px 38px;
	background:#698c9b;
	box-shadow:0px -4px 4px #000 inset;
	margin:auto;
	border:none;
	color:#fff;
	font-weight:bold;
	 font-size:22px;
	 border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:170px;
}
.videoNav{
	padding:4px 10px 7px 10px;
	font: 16px Arial,Helvetica,sans-serif;
	height:auto;
	overflow:hidden;
	width:735px;
	 margin: auto;
}
.videoNav ul li {
    display: block;;
    line-height: normal;
    margin-right: 3px;
    padding: 0;
	float:left;
	background:url(../images/videoBtn.png) repeat-x left top;
	border:1px solid #000;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	height:37px;
	margin-top:5px;
}
.videoNav ul li a {
    color: #eaa921;
    margin: 0;
    padding: 3px 15px;
    text-decoration: none;
	display:block;
	font-weight:bold;
	font-size:16px;
	line-height:37px;
}
.videoNav ul li:hover, .videoNav ul li.active {
    text-decoration:none;
	background:url(../images/videoactiveBtn.png) no-repeat left top;
	border:none;
	height:47px;
	color:#48697e;
	margin-top:-4px;
}
.videoNav ul li:hover a, .videoNav ul li.active a {color:#48697e;}
.videoNav ul li a.last {
    border-right: medium none;
}
.eapVideo{width:600px; height:320px;background:url(../images/EAPvideo.png) no-repeat left top;padding:45px 75px;position: relative;}
.dwnld{font-size:15px;color:#eaa921;line-height:normal;text-align:center;font-weight:bold;}
.dwnldBtn{
	border:none;
	height:31px;
	width:126px;
	text-indent:-999em;
	display:block;
	background:url(../images/download.png) no-repeat left top;
	margin:auto auto 7px auto;
}
.textbox{
	width:455px;
	height:109px;
	padding:8px;
	background:#fff;
	color:#7d98a9;
	margin:5px auto auto auto;
	border:2px solid #738891;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.textbox textarea{
	width:410px;
	border:none;
	color:#7d98a9;
	margin:0px 0px 5px 0px;
	height:90px;
}
.textbox input[type="submit"]{
	border:none;
	color:#7d98a9;
	margin:0px 50px 0px 0px;
	background:none;
	font-size:14px;
	float:right;
	cursor:pointer;
}
/*******==============================================================******/

.imgtick{
	/* float: left; 
	 position: absolute;*/
	margin-top: 1%;
}
