html,body{height:100%}

html,body,div,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;color:#000}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

.optinBox img { text-align:center; opacity:1;filter:alpha(opacity=100);}

html { 
  background:url(../../images/img/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.optinBox { 
	
	background-repeat:no-repeat; width:577px; height:592px; background:url(../../images/img/test2.png); margin:0 auto 0;
	
}
#form { width:364px; height:50px; margin:320px auto 10px; background:url(../../images/img/optin.png) no-repeat; }

.optinBox .textBox { background-color:transparent;color:#48697e;border-color:transparent;font: bold 18px Arial,Helvetica,sans-serif;letter-spacing: 0;text-align: center;width: 340px;height:25px;margin-top:11px;margin-left:auto; margin-right:auto;}
.optinBox .textField {margin-top:10px;margin-left:auto; margin-right:auto;width:458px; text-align:center;}
.optinBox .btnBox { width:458px;height:95px;margin: auto;}
.optinBox .submit {background-image:url(../../images/img/submit2.png);width:369px;height:74px;border:none;background-color:transparent;cursor:pointer;}
.optinBox .submit:hover {opacity:0.8;filter:alpha(opacity=80); /* For IE8 and earlier */}

.text {
	margin:1px 40px;
  	font-style: italic;
  	color:#FFF;
	font-size: 14px;
	font-weight:bold;
	text-align:center;
	}
.red {
	color:#b22d28;
	font-size: 14px;
	font-style: italic;
	}
	
	h4 {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	line-height:19px;
}
